/* space-grotesk-300 */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 300;
  src: local('Space Grotesk Light'), local('SpaceGrotesk-Light'),
    url('../fonts/SpaceGrotesk-Light.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk-Light.woff') format('woff');
}

/* space-grotesk-regular */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: local('Space Grotesk'), local('SpaceGrotesk'),
    url('../fonts/SpaceGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk-Regular.woff') format('woff');
}

/* space-grotesk-500 */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  src: local('Space Grotesk Medium'), local('SpaceGrotesk-Medium'),
    url('../fonts/SpaceGrotesk-Medium.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk-Medium.woff') format('woff');
}

/* space-grotesk-600 */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 600;
  src: local('Space Grotesk SemiBold'), local('SpaceGrotesk-SemiBold'),
    url('../fonts/SpaceGrotesk-SemiBold.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk-SemiBold.woff') format('woff');
}

/* space-grotesk-700 */
@font-face {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: local('Space Grotesk Bold'), local('SpaceGrotesk-Bold'),
    url('../fonts/SpaceGrotesk-Bold.woff2') format('woff2'),
    url('../fonts/SpaceGrotesk-Bold.woff') format('woff');
}